.notesArea{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,18rem);
    justify-content: center;
    
}
.addNotes{
    height: 4rem;
    width: 4rem;
    position: fixed;
    bottom: 5%;
    right: 5%;

}
.overlay{
    width: 100%;
    height: calc(100vh - 3rem);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_icon{
        font-size: 15rem;
        color: rgb(143, 138, 138);
    }
    &_Text{
        font-size: 2rem;
        color: rgb(143, 138, 138);
    }
}
.modalTitle{
    text-align: center;
    margin: 10px;
}
.modalDesc{
    padding: 5px;
}