.NavBarOuterContainer {
  width: 100%;
  position: sticky;
  z-index: 999;
  background-color: var(--color--primary);
  top: 0;
}
.NavBarInnerContainer {
  align-items: center;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  max-width: 90rem;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}
.NavLogo {
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 2rem;
  align-items: center;
  &:hover {
    color: white;
  }
}
.mobileMenu {
  display: none;
  font-size: 1.5rem;
  @media screen and (max-width: 768px) {
    display: flex;
    // height: 4rem;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
.NavMenu{
  display: flex;
align-items: center;
text-align: center;
@media screen and (max-width:768px){
  position: absolute;
  right: 100%;
  background-color: var(--color--primary);
  flex-direction: column;
  width: 100%;
  top: 2.9rem;
  z-index: 10;
  background: #fff;
  transition: all 0.5s ease;
}
&_search{
  max-width: 300px;
  margin: 0 1rem;
  @media screen and (max-width:768px) {
    margin: 1rem 0;
  }
}
}
.navMenuOpen{
  @media screen and (max-width:768px){
    right: 0;
  }
}
